<div>
    <div class="dropdown bg-white rounded-2xl">
        <div class="flex justify-between gap-2">
          <h1 class="text-[#0C1E3D]  p-4 leading-6 font-semibold items-center justify-center align-middle"> 
            Ödeme yada Satıcı<br>
            ile İlgili Sorunun mu var ?</h1> 
        <form class="dropdown-menu p-10">
          <div class="mb-2">
            <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Your Question</label>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="flex justify-end p-4" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <button type="button" class="btn text-[#0C1E3D] text-left leading-6 font-semibold">
                <img src="img/arrow-down.svg" alt="Logo" class="mx-auto ">
            </button>
        </div>
    </div>
      </div>
      
</div>