<div class="flex flex-col gap-4 p-4 ">
<section class="payment-methods">
    <div class="bg-[#E7F0F2] flex flex-col gap-3 p-4 rounded-2xl">
        <h1 class="text-[#0C1E3D] font-semibold text-lg leading-6">Ödeme Yöntemi seçin</h1>
        <h2 class="text-[#626C85] font-semibold leading-6 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet pellentesque metus sed venenatis.</h2>
        <div class="flex flex-col gap-2 payment-selection">
            <label class="flex items-center gap-2 cursor-pointer container">
              <input type="radio" name="something" value="credit_card" class="form-check-input rounded-full checked:bg-[#0083FF] border-gray-300 focus:ring-[#0083FF]" >
              <span class="text-[#626C85] checkbox-text">Kredi Kartı ile Ödeme yap</span>
              <span class="checkmark-circle">
                <span class="checkmark"></span>
              </span>
              <span class="blue-line"></span>
              <span class="checkbox-icon ml-auto text-[#0C1E3D]"><i class="fa-regular fa-credit-card"></i></span>
            </label>
            <label class="flex items-center gap-2 cursor-pointer container">
              <input type="radio" name="something" value="bank_transfer" class="form-check-input rounded-full checked:bg-blue-500 border-gray-300 focus:ring-blue-500" >
              <span class="text-[#626C85] checkbox-text">Havale / EFT ile ödeme yap</span>
               <span class="checkmark-circle">
                <span class="checkmark"></span>
              </span>
              <span class="blue-line"></span>
              <span class="checkbox-icon ml-auto text-[#0C1E3D]"><i class="fa-solid fa-repeat"></i></span>
            </label>
            <label class="flex items-center gap-2 cursor-pointer container">
              <input type="radio" name="something" value="mobile_payment" class="form-check-input rounded-full checked:bg-blue-500 border-gray-300 focus:ring-blue-500" checked>
              <span class="text-[#626C85] checkbox-text">Mobil Ödeme ile ödeme yap</span>
               <span class="checkmark-circle">
                <span class="checkmark"></span>
              </span>
              <span class="blue-line"></span>
              <span class="checkbox-icon ml-auto text-[#0C1E3D]"><i class="fa-solid fa-mobile-button"></i></span>
            </label>
          </div>
    </div>
    </section>
    <h1 class="text-[#0C1E3D] font-semibold text-lg leading-6">Operatör Seçimi</h1>
    <section class="warning">
        <div class="flex gap-2 ">
            <div class="text-center border-1 border-[#D6DAE9] rounded-2xl flex flex-col gap-3 p-4 flex-[1_1_33.3%] justify-center align-middle items-center">
                <img src="img/operator3.svg" alt="Logo" class=" w-32 h-6 ">
                <p class="text-[#626C85] font-semibold leading-4 text-base checkbox-text">Turkcell</p>
                <label class="flex gap-2 cursor-pointer container justify-center items-center align-middle">
                    <input type="radio" name="something" value="credit_card" class="form-check-input rounded-full checked:bg-[#0083FF] border-gray-300 focus:ring-[#0083FF]"  >
                    <span class="checkmark-circle">
                      <span class="checkmark"></span>
                    </span>
                  </label>
            </div>
            <div class="text-center border-1 border-[#D6DAE9] rounded-2xl flex flex-col gap-3 p-4 flex-[1_1_33.3%] justify-center align-middle items-center">
                <img src="img/operator2.svg" alt="Logo" class=" w-32 h-6 ">
                <p class="text-[#626C85] font-semibold leading-4 text-base checkbox-text">Türk Telekom</p>
                <label class="cursor-pointer container">
                    <input type="radio" name="something" value="bank_transfer" class="form-check-input rounded-full checked:bg-blue-500 border-gray-300 focus:ring-blue-500">
                     <span class="checkmark-circle">
                      <span class="checkmark"></span>
                    </span>
                  </label>
            </div>
            <div class="text-center border-1 border-[#D6DAE9] rounded-2xl flex flex-col gap-3 p-4 flex-[1_1_33.3%] justify-center align-middle items-center">
                <img src="img/operator1.svg" alt="Logo" class=" w-32 h-6 ">
                <p class="text-[#626C85] font-semibold leading-4 text-base checkbox-text">Vodafone</p>
                <label class="flex gap-2 cursor-pointer container justify-center items-center align-middle">
                    <input type="radio" name="something" value="credit_card" class="form-check-input rounded-full checked:bg-[#0083FF] border-gray-300 focus:ring-[#0083FF]"  >
                    <span class="checkmark-circle">
                      <span class="checkmark"></span>
                    </span>
                  </label>
            </div>
        </div>
        </section>
        
            <p class="text-[#0C1E3D] text-sm leading-6 font-medium ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar eros id purus fermentum, eget mattis enim porttitor. Cras at libero quis tellus pulvinar facilisis.</p>
        <div>
            <div class="form-input mb-3 ">
                <input type="text" class="form-control pl-5" id="phone" placeholder="5xx xxx xx xx">
            </div>
        </div>
        <div class="flex justify-center">
            <button class="bg-[#0083FF] py-3 px-4 rounded-2xl text-white">
                <span class="px-12 font-semibold leading-4 text-base">Doğrulama Kodu Gönder</span>
            </button>
        </div>
</div>